{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container techfont">
  <h1>New post</h1>

  <form method="POST" class="post-form">
    {% csrf_token %} {{form|crispy}}
    <button type="submit" class="btn btn-danger btn-lg">Save</button>
  </form>

  <script>
    var editor = new MediumEditor(".editable");
    $(".editable").one("click", function () {
      $(this).height(300).css({
        cursor: "auto",
      });
    });
  </script>
</div>
{% endblock %}
